# Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

2.2.2

# Persiapan Data Frame

In [ ]:
df = pd.DataFrame({'jenis_kelamin':['Pria', 'Wanita', 'lelaki', 'Lelaki', 'perempuan'], 
                   'usia':[23, 21, 24, 22, 21], 
                   'shift':['pagi', 'siang', 'Malam', 'Siang', 'pagi']})
df

# Mapping pada Data Frame dengan applymap()

In [5]:
df = df.applymap(lambda x: x.lower() if type(x) == str else x)
df

C:\Users\TOSHIBA\AppData\Local\Temp\ipykernel_16948\1270923860.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower() if type(x) == str else x)

  jenis_kelamin  usia  shift
0          pria    23   pagi
1        wanita    21  siang
2        lelaki    24  malam
3        lelaki    22  siang
4     perempuan    21   pagi

# applymap() dengan dictionary

In [7]:
mapping = {'pria':'L',
           'lelaki':'L',
           'wanita':'P',
           'perempuan':'P',
           'pagi':1,
           'siang':2,
           'malam':3}

df.applymap(mapping.get)

C:\Users\TOSHIBA\AppData\Local\Temp\ipykernel_16948\2574704711.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(mapping.get)

  jenis_kelamin  usia  shift
0             L  None      1
1             P  None      2
2             L  None      3
3             L  None      2
4             P  None      1

In [9]:
df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].applymap(mapping.get)

df

C:\Users\TOSHIBA\AppData\Local\Temp\ipykernel_16948\614762926.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].applymap(mapping.get)

  jenis_kelamin  usia  shift
0             L    23      1
1             P    21      2
2             L    24      3
3             L    22      2
4             P    21      1