In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [3]:
n_rows =5
n_cols =5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  1  7  5  5  1
1  3  6  1  7  3
2  3  6  5  6  6
3  1  9  9  5  5
4  7  1  6  5  6

In [5]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [7]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        1        7        5        5        1
1        3        6        1        7        3
2        3        6        5        6        6
3        1        9        9        5        5
4        7        1        6        5        6

In [9]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        1        7        5        5        1
1        3        6        1        7        3
2        3        6        5        6        6
3        1        9        9        5        5
4        7        1        6        5        6