# Import Modules

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [5]:
n_rows=10
n_cols=5
cols= tuple('ABCDE')
df= pd.DataFrame(np.random.randint(1,10,size= (n_rows,n_cols)),
                columns= cols)

df

   A  B  C  D  E
0  2  5  7  4  8
1  1  8  2  8  4
2  9  9  1  4  2
3  5  3  6  9  1
4  5  9  3  5  2
5  1  5  4  5  5
6  7  2  6  8  4
7  2  4  2  2  8
8  7  8  4  9  2
9  6  2  2  5  5

# Menghitung jumlah baris menurut kriteria tertentu

In [8]:
(df['A']<5).sum()

4

In [10]:
(df['A']<5).mean()

0.4