# 11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  13  19  19  15   4
1  18  19   8  19  18
2  17  19   3  10  14
3  17  17  14  16   7
4  14  18   3  17   7
5   2  14  17   4  13
6   6  11  16   9   4
7  10   4   9   8  16
8   7   2  18   2   3
9  15  18   7   9   5

# Seleksi kolom dan baris menggunakan loc

In [5]:
df.loc[[0,3,4], ['B','E']]

    B  E
0  19  4
3  17  7
4  18  7

# Seleksi baris dengan kondisi

In [7]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  19  15   4
1  19  19  18
2  19  10  14
3  17  16   7
4  18  17   7
5  14   4  13
6  11   9   4
9  18   9   5

# Slicing Data Frame dengan loc

In [9]:
df.loc[0:4, 'B':'D']

    B   C   D
0  19  19  15
1  19   8  19
2  19   3  10
3  17  14  16
4  18   3  17